<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>OpenShift UI</title>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script
	src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.4/jszip.min.js"
	type="text/javascript"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/openshift.js"></script>
<style>
#sortable1, #sortable2 {
	border: 1px solid #eee;
	border-radius: 25px;
	width: 250px;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	border-radius: 25px;
	padding: 5px;
	font-size: 1.2em;
	width: 200px;
}
</style>

</head>
<body>
	<div ng-app="mainApp" ng-controller="controller">
		<br>

		<div class="container">
			<br>
			<div class="row">

				<div class="col-md-6">
					<form>
						<label class="radio-inline"> <input type="radio"
							name="optradio" ng-model="deproll" value="dep">Deployment
						</label> <label class="radio-inline"> <input type="radio"
							name="optradio" ng-model="deproll" value="roll">Rollback
						</label>
					</form>
					<br>
					<form ng-submit="submitForm()">
						<div ng-show="deproll=='roll'">
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-folder"></i></span>
								<input id="email" type="text" class="form-control" name="url"
									placeholder="Deployment project name" ng-model="Dprojectname"
									ng-required="deproll=='roll'">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-folder"></i></span>
								<input id="oproject" type="text" class="form-control"
									name="openshiftproject" placeholder="Deployment config name"
									ng-model="Dconfigname" ng-required="deproll=='roll'">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class="fab fa-folder"></i></span>
								<input id="gproject" type="number" class="form-control"
									name="gitproject" placeholder="Deployment version"
									ng-model="Dversion" ng-required="deproll=='roll'">
							</div>
							<br>
						</div>
						<div ng-show="deproll=='dep'">
							<div class="input-group">
								<span class="input-group-addon"><i class="fab fa-github"></i></span>
								<input id="email" type="url" class="form-control" name="url"
									placeholder="GitHub url" ng-model="github"
									ng-required="deproll=='dep'">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-folder"></i></span>
								<input id="oproject" type="text" class="form-control"
									name="openshiftproject" placeholder="Openshift Project name"
									ng-model="oproject" ng-required="deproll=='dep'">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i class="fas fa-folder"></i></span>
								<input id="gproject" type="text" class="form-control"
									name="gitproject" placeholder="GitHub Project Name"
									ng-model="gproject" ng-required="deproll=='dep'">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fas fa-user-secret"></i></i></span> <input id="gsecret" type="text"
									class="form-control" name="gitproject"
									placeholder="GitHub Secret" ng-model="gsecret"
									ng-required="deproll=='dep'">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fas fa-envelope"></i></i></span> <input id="gsecret" type="email"
									class="form-control" name="emailadd"
									placeholder="Email Address(for notification)"
									ng-model="emailadd" id="emailaddress">
							</div>
						</div>
						<br>

						<ul id="sortable1" class="connectedSortable">
							<li class="ui-state-error">junit</li>
							<li class="ui-state-error">Integration Testing</li>
							<li class="ui-state-error">jira</li>
							<li class="ui-state-error">nexus</li>
							<li class="ui-state-error">jira</li>
							<li class="ui-state-error">nexus</li>
							<li class="ui-state-error">sonar</li>
							<li class="ui-state-error">dev</li>
							<li class="ui-state-error">prod</li>
						</ul>

						<ul id="sortable2" class="connectedSortable">
						</ul>
						<div class="form-group">
							<textarea class="form-control rounded-0"
								id="exampleFormControlTextarea1" rows="10"
								ng-model="textareascript"></textarea>
						</div>
						<br>
						</form>
				</div>
				<br>
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-info btn-lg"
					data-toggle="modal" data-target="#myModal" ng-click="preview()">Submit</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" ng-model="modalHeader" id="mHeader"
									style="text-align: center;">
									{{modalHeader}}<span ng-show="warningflag"><i
										class="fas fa-exclamation-triangle"></i></span> <span
										ng-show="rollbackflag"><i class="fas fa-undo"></i></span>
								</h4>
							</div>
							<div class="modal-body" ng-model="jenkinsfilePreview">
								<p id="jpreview" style="text-align: center;">{{jenkinsfilePreview}}</p>
							</div>
							<div class="modal-footer" ng-hide="warningflag">
								<button type="submit" class="btn btn-success">
									Download <i class="fas fa-download"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

				

			</div>
			<br> <br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br> <br>
			<br>;
			<div class="col-md-3" style="text-align: right">
				&nbsp;&nbsp;<img class="img-thumbnail"
					src="./images/open-shift-logo.png" height="80" width="100"
					alt="Logo"> <img class="img-thumbnail"
					src="./images/jenkins.png" height="80" width="100" alt="Logo">
			</div>
		</div>

	</div>

	</div>

</body>
</html>
